@mixin D-flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}


.play-field{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/wood-background.jpg');
}

.card-stack{
   
    position: relative;
    @include D-flex();
    height: 100vh;
    >img{
        position: absolute;
       
        transform: translate(-50%, -50%);
        width: 150px;
    }
}

.top-card{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;


    &:hover {
        transform: scale(1.5) translateX(10px);
    }
}